/* Hero.css */
.hero-bg-image {
  background-image: url("../images/hero1.webp");
  background-size: cover;
  background-position: center;
  height: 800px; /* Default height */
}

@media (max-width: 992px) {
  .hero-bg-image {
    height: 600px; /* Smaller height for tablets */
  }
}

@media (max-width: 576px) {
  .hero-bg-image {
    height: 400px; /* Even smaller height for mobile devices */
  }
}

.mask-custom {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-hero {
  text-decoration: none;
  color: white;
}
